
.adminPanel{
	position:fixed;
	left:0em;
	bottom:4em;
	width:20em;
	padding:0.7em 1em;
	background-color:white;
	font-size:1.1em;
	color:black;
	display:inline-block;
}

.adminPanel h3, .ttle{
	text-align:center;
	margin:0px 0px 5px 0px;
}

.ttle{
	color:red;
}

#block_why, #block_more{
	width:100%;
	padding:3px;
}

.btn_adm{
	width:100%;
	padding:5px 0;
	text-align:center;
	cursor:pointer;
	background-color:#337ab7;
	color:white;
	border-radius:5px;
}

.block_close{
	cursor:pointer;
	position:absolute;
	right:5px;
	top:5px;
}

.do-action{
	cursor:pointer;
	margin-left:10px;
	display:inline-block;
	padding:3px 5px;
	border:1px solid gray;
}

.inline-block{
	display:inline-block;
}

.company_status{
	display:inline-block!important;
	font-weight:bold;
	margin:0 5px 0 0;
	color:#337ab7;
	cursor:pointer;
}

