@media screen and (max-width:766px){
    .h-home{
        width: 25px;
        line-height: 25px;
    }
    .row-location .btn-group{width: 100%; float: right;}
    .row-location > div > button{width: 100% !important; float: right;}

    .footer-nav-left > li{width: 100%; padding: 0; height: 30px; line-height: 30px;}
    .footer-right > a{text-align: left;}

    .q_search{width: 94%;}
    .suggest{width: 94%;left: 0;}
    .search-form > button{width: 6%; padding: 0;}
    .m-container{
        padding-bottom: 150px;
    }

    /*.btn-g-plus{position: relative; right: 0;}*/

    .lac{font-size: 9px;}
    .org-contacts{padding-left: 15px;}
    .row-cart-btns > div > a{font-size: 11px;}
    .row-cart-btns > div > a{
        padding-left: 5px; 
        padding-right: 5px;
    }

    .btn-g-plus{
        padding: 0;
    }

    .btn-g-plus.col-xs-1{width: 15.6%;}
    .input-g-plus.col-xs-11{width: 84.333%}
    h1.firm_name{
        margin: 0 !important;
    }
    .header_right{
        border-top: 1px solid #4889dd;
    }
    .my-alert{
        padding-left: 15px;
        padding-right: 15px;
    }
    .btn-login{
        margin-left: 30px;
    }
    .h-left-2{
        font-size: 14px;
    }
    #m-header, .header_left a{
        font-size: 14px;
        line-height: 20px;
    }
}

@media screen and (min-width: 550px) and (max-width: 764px){
    .btn-plus{
        width: 46px;
    } 

    .btn-g-plus.col-xs-1{width: 12.6%;}
    .input-g-plus.col-xs-11{width: 87.333%}
    .firm-rate .rate-text {padding-right: 50px;}
}

@media screen and (max-width: 420px){
    .btn-g-plus.col-xs-1{width: 22.6%;}
    .input-g-plus.col-xs-11{width: 75.333%}

}


@media screen and (min-width:766px){
    @-moz-document url-prefix(){
        .row-location > div:first-child{
            margin-top: -2px;
        }
        .row-location > div > .btn-group, .btn-glode{
            height: 51px !important;
        }
    }
    .row-location > div:first-child{
        width: 50px !important;
    }
    .row-location{margin-right: 10px;}
    .h-home{
        line-height: 100px;
    }
    #m-header{
        height: 100px;
    }

    .header_left{
        text-align: left;
    }

    .header_right{
        text-align: right;
    }
    /*
    .search-form{
        position: absolute;
        top: 50%;
        margin-top: -20px;
        right: 30px;
    }
    */
    .row-location{
        float: right;
        width: 60%;
    }
    .search-form{
        width: 55%;
        margin-top: 30px;
        float: left;
        border-bottom: 1px solid #d7d7d7;
    }
    .header_right > a{
        float: left;
        font-weight: bold;
        border: none;
        outline: none;
        text-decoration: none;
        color: #337ab7;
    }
    .header_right > a:hover{color: #337ab7;text-decoration: none;}
    .select_region{padding: 0 40px;}
    .search-form > button, .search-form > input{
        float: right;
    }
    .row-location > .col-md-1{width:6.3% !important;}
    .row-location > .col-md-4{width:28% !important;}

    .div-tile{
        display: -moz-inline-stack; /* для FF ниже 3  */
        display:inline-block;
        min-height: 140px;
        zoom:1; /* обычный layout fix для ИЕ6 */
        *display:inline; /* для ИЕ 6, 7 */
        /*  vertical-align: bottom;*/
    }

    .btn-plus{width: 46px;}
    .btn-g-plus.col-sm-2{width: 12.6%;}
    .input-g-plus.col-sm-10{width: 87.333%}
    .firm-rate .myStars{
        margin-right: 150px;
        float: right;
    }
    .cart-block .rating-stars{
        margin-right: 55px;
    }
}
@media screen and (min-width: 320px){
    .firm-rate .rate-text { padding-right: 20px; }
}
@media screen and (min-width:766px) and (max-width: 1330px){
    .search-form{
        width: 100%;
        margin-top: 10px;
    }
    .header_right > a{
        line-height: 40px;
    }
    h1.firm_name{
        margin-top: 15px;
    }
    #div-globe{
        width: 50px !important;
    }
    .my-alert{
        padding-left: 0;
        padding-right: 10px;
    }
}
@media screen and (min-width:768px) and (max-width: 1050px){
    .row-location{
        width: 80%;
    }
}
/* --- Medium devices --- */
@media screen and (min-width:992px){
    #m-header{
        line-height: 100px;
    }
    .header_left{
        padding-left: 40px;
    }

    .row-tiles div:first-child{padding-left: 0;}
    .row-tiles div:first-child .tile{float: left;}
    .row-tiles div:last-child{padding-right: 0;}
    .row-tiles div:last-child .tile{float: right;}
}
@media screen and (max-width: 560px){
    .btns-top .btn-reviews, .btns-top .btn-write-coment{font-size: 14px;}
    .cart-main-block .rating-stars{width: 100%;}
    .btn-group.dropup{float: left;}
    .h-home{width: 54px;line-height: 54px;}
    .col-xs-10.col-sm-5.header_left{padding: 0;}
}
@media screen and (max-width: 350px){
    h1.firm-name{font-size: 14px !important;}
    h2.h-left-2{font-size: 13px !important;}
}
@media screen and (min-width: 560px) and (max-width: 766px){
    .h-home{height: 36px;
            width: 36px;
            line-height: 36px;
    }
}
@media screen and (min-width: 780px) and (max-width: 1300px){
    .header_left a{
        display: block;
        margin-top: 30px;
        line-height: 20px !important;
        font-size: 14px;
    }
    #m-header{
        line-height: 28px !important;
    }
    @media screen and (min-width: 766px) and (max-width: 1215px){
        h1.firm_name{
            margin-top: 20px;
        }
        .h-home{
            width: 100px;
        }
        .header_left{
            width: 40%;
            padding-left: 15px;
            padding-right: 0;
        }
        .header_right{
            width: 45%;
            float: right;
        }    
    }
}