body{background: #FFF;}
.m-container-fluid{
    width: 100% !important;
}
#m-header{
    height: 100px;
    line-height: 100px;
    padding-left: 40px;
    padding-right: 30px;
    background: #FFF;
    outline: 2px solid green;
}

.btn{border-radius: 0;}
#m-header > div{ height: inherit; margin: 0px; padding: 0;}

.search-form{
    width: 100%;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    right: 30px;
}

    
.header_left{
    text-align: left;
    font-size: 18px;
    color: #4889dd;
}


.header_right{
    text-align: right;
}


.search-form > button, .search-form > input{
    float: right;
    height: 40px;
}

.q_search{
    width: 60%;
    line-height: 40px;
    color: #666;
    padding-left: 12px;
    font-size: 14px;
    font-style: italic;
    border: 1px solid #999;
}

.m-container{
    height: 500px;
    max-width: 960px;
    padding-top: 50px;
    outline: 2px solid red;
}

.row-location button{
    border: 1px solid #999;
}

.row-location > div{
    height: 50px;
    outline: 2px solid red;
}

@media screen and (max-width:764px){
    .m-container-fluid{
        padding: 0;
    }
    #m-header{
        height: 40px;
        line-height: 40px;
        padding-left: 10px;
    }

    .header_left{
        text-align: center;
        height: auto !important;
    }
        
    .header_right{
        position: relative;
    }
    
    .search-form{
        padding: 0;
        height: 40px;
        text-align: center;
    }
 
    .search-form > button, .search-form > input{
        height: inherit;
        border-radius: 0;
        float: right;
    }
}