html{
    position: relative;
    min-height: 100%;
}
body{background: #e0e0e0; margin-bottom: 60px;
     font-family: "Verdana";
     min-width: 330px;
}
.m-container-fluid{
    width: 100% !important;
}
.container{
    max-width: 960px;
}
#m-header{
    position: relative;
    min-height: 40px;
    line-height: 40px;
    /* padding-left: 10px;*/
    background: #FFF;
    /* outline: 2px solid green;*/
    -webkit-box-shadow: 0px 1px 10px 0px rgba(49, 50, 50, 0.5);
    -moz-box-shadow: 0px 1px 10px 0px rgba(49, 50, 50, 0.5);
    box-shadow: 0px 1px 10px 0px rgba(49, 50, 50, 0.5);
    z-index: 5;
}

.msg{
	position:fixed;
	right:-24em;
	bottom:4em;
	width:20em;
	padding:0.7em 2em;
	background-color:#337ab7;
	font-size:1.1em;
	color:white;
	display:inline-block;
}


.goMsg{
	animation: showMsg 5s ease;
	-webkit-animation: showMsg 5s ease;
	animation-iteration - count :1;
	-webkit-animation-iteration - count :1;
}

@-webkit-keyframes showMsg{
		
	9%{
		-webkit-transform:translateX(-26em);
		transform : translateX(-26em);
	}
	12%{
		-webkit-transform:translateX(-24em);
		transform : translateX(-24em);
	}
	16%{
		-webkit-transform:translateX(-25em);
		transform : translateX(-25em);
	}
	20%{
		-webkit-transform:translateX(-24em);
		transform : translateX(-24em);
	}
	95%{
		-webkit-transform:translateX(-24em);
		transform : translateX(-24em);
	}
	100%{
		-webkit-transform:translateX(0);
		transform : translateX(0);
	}
}

@keyframes showMsg{
		
	9%{
		-webkit-transform:translateX(-26em);
		transform : translateX(-26em);
	}
	12%{
		-webkit-transform:translateX(-24em);
		transform : translateX(-24em);
	}
	16%{
		-webkit-transform:translateX(-25em);
		transform : translateX(-25em);
	}
	20%{
		-webkit-transform:translateX(-24em);
		transform : translateX(-24em);
	}
	95%{
		-webkit-transform:translateX(-24em);
		transform : translateX(-24em);
	}
	100%{
		-webkit-transform:translateX(0);
		transform : translateX(0);
	}
}

.add-select{
	border: 1px solid #ccc;
	outline:0;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	display:inline-block;
	padding:10px 5px;
	color:#999999;
	font-size:18px;
}

.add-select-region{
	width:225px;
}

.add-select-city{
	float:right;
	width:135px;
}

.add-select-country{
	float:left;
	width:130px;
}

.clear{
	clear:both;
}

.add-sel-wrap{
	text-align:center;
}

.btn{border-radius: 0;}
#m-header > div{ height: inherit; margin: 0px;}

.search-form{
    position: relative;
    height: 40px;
    width: 100%;
    text-align: center;
}

.header_left{text-align: center;}

.firm_name, .h-left-2{
    font-size: 18px !important;
    line-height: 18px;
    color: #4889dd;
    margin-top: 30px;
}

.h-left-2{
    font-size: 16px !important;
    color: #4889dd; 
    margin: 0;
}

.header_left a{
    font-size: 16px;
    color: #4889dd;
    text-decoration: none;
}

.header_right{
    position: relative;
}
.header-right a{
    display: block;
}

.suggest{
    position: absolute;
    z-index: 999;
    width: 100%;
    background: #fff;
    border: 1px solid #e0e0e0;
    top: 40px;
    padding: 0;
    line-height: 30px;
    font-size: 16px;
    visibility: hidden;
}
.suggest li{
    list-style-type: none;
    text-align: left;
    padding-left: 12px;
}
.suggest li:hover{
    background: #e0e0e0;
    cursor: pointer;
}
.suggest li span.f-city{
    float: right;
    padding-right: 12px;
    color: #a8a8a8;
}
.more-suggests{
    height: 30px;
    background: #f2f2f2;
    font-family: 'PT Sans';
    font-size: 16px;
    color: #4285f4;
    font-style: italic;
    text-align: left;
    padding-left: 12px;
    cursor: pointer;
}
.sgt-hidden{
    display: none;
}
.select_region{
    border: none;
    outline: none;
}

.search-form > button, .search-form > input{
    height: inherit;
    border-radius: 0;
    float: right;
    background: none;
    border: none;
    outline: none;
    color: #337ab7;
}
.search-form > .btn:hover{background: none; color: #337ab7; }

.q_search{
    width: 88%;
    line-height: 40px;
    color: #666;
    padding-left: 12px;
    font-size: 14px;
    font-style: italic;
    border: none;
    border-bottom: 1px solid #d7d7d7;
    outline: none;
}
.m-container{
    max-width: 960px;
    padding-top: 60px;

    /*outline: 2px solid red;*/
}
/*
.row-location > .col-md-1{width:6% !important;}
.row-location > .col-md-4{width:31.3% !important;}
*/
.row-location{margin-top: -1px;}
.row-location > div{
    height: 50px;
    padding: 0;

    text-align: right;
}
.row-location > div:first-child{
    text-align: left;
}

.row-location > div > div, .row-location > div > div >  button{
    height: inherit;
}


.row-location .btn-group{width: 100%; float: right;}
.row-location .btn{border: 0;}

.row-location > div > div >  button{
    text-align: left;
    font-size: 14px;
    float: right;
    width: 100%;
    border: 1px solid #ccc !important;
}
.row-location .dropdown-menu{width: 100%;}

.row-location > div:first-child+* > div > button{
    color: #4188f2;
    font-weight: bold;
}

.row-location > div:first-child+*+* > div > button,
.row-location > div:first-child+*+*+* > div > button{
    color: #999;
    font-style: italic;
}

.row-location > div > div >  button > span.caret{
    display: inline-block;
    vertical-align: middle;
    float: right;
    margin-top: 10px;
    color: #333;
}

.btn-title-country{
    color: #4889dd;
}
.row-location .caret{
    display: block;
    float: right;
}

.row-location .btn-title{
    float: left;
    margin-top: 0;
}

.li-padding-h20{padding: 0 20px;}

.row-location .dropdown-menu li a{
    padding: 0;
}

.row-location .dropdown-menu li a{padding: 3px 20px;}

.row-location .dropdown-menu li input{
    padding: 5px;
    width: 100%;
    font-style: italic;
}
.row-location .dropdown-menu hr{margin: 8px 0;}

.row-location > div > .btn-group{padding: 0;height: 50px;}

.btn-glode{width: 50px !important; height: 50px;}

#tiles{
    margin-top: 30px;
}

.row-tiles{ padding: 0 15px;}
.row-tiles > div{
    /*outline: 2px solid red;*/
}

.div-tile{
    margin: 0 auto;
}

.row11{text-align: justify;}

.tile{
	position:relative;
    width: 280px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px 10px 10px 10px !important;
    background: #FFF;
    border: 1px solid #cacaca;
    font-size: 12px;
}

.a-firm-cart{
    display: block;
    text-decoration: none;
    color: inherit;
}
.a-firm-cart:hover{    text-decoration: none;
                       color: inherit;}

.tile span{display: block; text-align: left;}
.tile p{margin-top: 5px; margin-bottom: 0; color: #438af4 !important;}
.tile p a:hover{color: #438af4 !important;}
.t-title{font-weight: bold;}
.tile div:first-child{padding-top: -5px;}
/* --- fluid-grid --- */
.cols{float: left;}
.col-2{width: 16.6%}
.col-3{width: 25%;}
.col-4{width: 33.3%}
.col-8{width: 66.6%}
.col-9{width: 75%;}
.col-10{width: 83.3%}
/* --- fluid-grid --- */
.helper {

}
.div-tile.helper{
    width: 100%;
    height: 0;
    min-height: 0;
    visibility: hidden; 
}

/* --- Footer --- */
#footer-fluid{
    min-height: 50px;
    line-height: 50px;
    border-top: 1px solid #5e5e5e;
    background: #828282;
    font-size: 14px;
    color: #FFF;

    position: absolute;
    bottom: 0;
    width: 100%;
}

#footer{
    height: inherit;
    padding: 0;
}

#footer > .row{
    height: inherit;
    padding: 0;
}

.footer-nav-left{
    width: 90%;
    text-align: justify;
    height: inherit;
    padding: 0;
    margin: 0;
}

.footer-nav-left > li{
    float: left;
    list-style-type: none;
    padding: 0 4%;
}

.footer-nav-left > li:first-child{
    padding-left: 0;
}

.footer-nav-left > li > a, .footer-right > a{
    display: block;
    height: inherit;
    padding:  0;
    text-decoration: none;
    color: #FFF;
    font-weight: 200;
}
.footer-right > a{text-align: right;}
.footer-nav-left > li > a:hover, .footer-right > a:hover{
    text-decoration: underline;
}

.footer-left, .footer-right{
    height: inherit;
    /*  outline: 2px solid red; */
}

.m-container-form{
    max-width: 620px;
    margin: 0 auto;
}

.h-home{
    text-align: center;
    padding-right: 1px;
    color: #4889dd;
    padding: 0;
    font-size: 28px;
    border-right: 1px solid #4889dd;
}
.h-home:hover{color: #4889dd;}

.my-alert{
    height: 50px;
    padding: 0;
    padding-left: 40px;
    line-height: 50px;
    padding-RIGHT: 20PX;
    background: #f4f4f4;
    color: #e55353;
    border-radius: 0;
    margin: 0;
    -webkit-box-shadow: 0px 1px 10px 0px rgba(49, 50, 50, 0.5);
    -moz-box-shadow: 0px 1px 10px 0px rgba(49, 50, 50, 0.5);
    box-shadow: 0px 1px 10px 0px rgba(49, 50, 50, 0.5);
}

.my-alert .close{
    display: block;
    line-height: 48px;
    font-size: 10px;
    color: #4889dd;
    opacity: 1;
    text-shadow: none;
    border: none;
    outline: none;
}
a.close-loc{
    float: right;
    font-size: 12px;
    border: none;
    outline: none;
}
a.close-loc:hover{text-decoration: none;}

.a-go-back{margin-left: 2.5%;}
.a-go-back, .a-go-back:hover{
    font-size: 12px;
    color: #4889dd;
    text-decoration: underline;
}

.params-form{
    position: static;
}

.params-form input, .params-form textarea{
    border-radius: 0;
}

.params-form textarea{
    height: 190px;
    resize: none;
}

.modal-dialog{
    margin-top: 10px;
    width:95%;
}

.modal-footer{
    border-top: 0px;
}

.h-tint{
    display: block;
    color: #4889dd;
    font-size: 68px;
}

.modal .h-title{
    margin-top: 10px;
    font-size: 30px;
    color: #545454;
}

.btn-plus{
    height: 46px;
}

.input-plus{display:block;}

.btn-g-plus{
    /* width: 13%;*/
    /*min-width: 56px;*/
    float: left;
    padding-left: 0;
}
.input-g-plus{
    /* width: 87%;*/
    float: left;
    padding: 0;
}

.row-padding-0{padding: 0 15px;}
.l-rules-agree-checkbox{float: left;}
#rules-agree-checkbox{border-radius: 0 !important;}
.lac{
    padding: 0 !important;
    font-size: 12px;
    color: #6e6e6e;
}
.modal-header-logo-img{display: block;margin: 0 auto;}

/* --- CART --- */
.cart-block{
    position: relative;
}
.cart-block, .reviews{
    margin-top: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}
.btn-mc-nav, .btn-mc-nav-mini{
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    background: url(../img/mcm-bg.png) no-repeat center center;
    z-index: 2;
    cursor: pointer;
}

.btn-mc-nav-mini{
	width: 30px;
    height: 30px;
    background: url(../img/mcm-bg-mini.png) no-repeat center center;
}

.btn-mc-nav:hover{
    background: url(../img/mcm-bg.png) no-repeat center center, #f2f2f2;
}

.btn-mc-nav-mini:hover{
	background: url(../img/mcm-bg-mini.png) no-repeat center center, #f2f2f2;
}

.mc-nav{
    position: absolute;
    top: 50px;
    right: 0;
    min-width: 170px;
    padding: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    background: #fff;
    z-index: 1;
}

.mc-nav-mini{
    top: 30px;
}

.mc-nav li{
    text-align: left;
    font-size: 16px;
    line-height: 29px;
    padding-left: 10px;
    list-style-type: none;
    border: 1px solid #e6e6e6;
    color: #545454;
    font-family: "PT Sans";
    cursor: pointer;
}
.mc-nav li:hover{background: #f2f2f2;}
.mc-close{
    display: none;
}
.cart-main-block{
    min-height: 160px;
    padding-bottom: 40px;
    background: #FFF;
    padding-top: 15px;
}

.cart-logo img{
    display: block;
    margin: 0 auto;
}

.org-contacts{
    padding: 0;
    padding-right: 20px;
}
.org-contacts > h3{
    margin-top: 0px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 25px;
}
.org-contacts > p{
    margin-bottom: 5px;
    font-size: 12px;
}

.org-contacts > a{
    font-size: 13px;
    text-decoration: underline;
}

.row-cart-btns{
    /*height: 50px;*/
}

.row-cart-btns > div{
    width: 100%; 
    height: inherit;
    padding: 0;
    border: none;
    border-top: 1px solid #e0e0e0;
}

.row-cart-btns > div > a{
    /* width: 50%;*/
    border: none;
    color: #4889dd;
    font-size: 12px;
    outline: 1px solid #e0e0e0;
}
.hide_filtered{
    display:none;
}
/*.suggest li span.company-place {
    float: right;
    border: 1px solid black;
}*/

p.send-params i {
    font-size: 16px;
    padding-left: 2px;
}
/* --- STARS --- */
form.rating-stars{
    float: right;
}
.stars div a, .myStars div a {
    background: transparent url(../img/sprite_rate.png) 0 -30px no-repeat;
    display: inline-block;
    height: 15px;
    width: 8px;
    text-indent: -999em;
    overflow: hidden;
}
.stars a.rating-right, .myStars a.rating-right{
    background-position: 0 -45px;
    padding-right: 6px;
}
.stars a.rating-over, .myStars a.rating-over {
    background-position: 0 0px;
}
.stars a.rating-over.rating-right, .myStars a.rating-over.rating-right {
    background-position: 0 -15px;
}
.stars a.rating, .myStars a.rating {
    background-position: 0 -92px;
}
.stars a.rating.rating-right, .myStars a.rating.rating-right {
    background-position: 0 -115px;
}
.stars a{
    cursor: default;
}
/* --- /STARS --- */
/* --- COMMENTS --- */
.reviews{
    background: #FFF;
    margin: 40px 0;
    font-family: 'PT Sans';
}
.btns-top{
    height: 50px;
    line-height: 50px;
}
.btns-top > div{
    height: inherit;
    padding: 0;
}
.btns-top .btn-reviews{
    padding-left: 20px;
    text-align: left;
    color: #383838;
    border-bottom: 1px solid #d1d1d1;
}
.btn-reviews{
    font-size: 20px;
}
.thumb{
    min-width: 58px;
}
.thumb img{
    width: 100%;
}
.btns-top .btn-write-coment{
    text-align: center;
    font-size: 16px;
    background: #4285f4;
    color: #fff;
    cursor: pointer;
}
.btns-top .btn-write-coment:hover{background: #518ef3;}
.comments{
    padding: 0 20px;
}
.comment{
    padding: 10px 0;
}
.m-comment{
    padding-left: 20px;
}
.name-rate{
    font-size: 16px;
    color: #545454;
    font-weight: bold;
}
.comment .date{
    font-size: 12px;
    color: #cccccc;
}
.comment .com-text{
    color: #545454;
}
.more-comments{
    width: 100%;
    height: 50px;
    line-height: 36px;
    text-align: center;
    border-top: 1px solid #d1d1d1;
    color: #4285f4;
    cursor: pointer;
}
.more-comments:hover{background: #d1d1d1;}
.write-review{
    display: none;
    background: #FFF;
    font-family: 'PT Sans';
}
.write-review .title{
    padding: 15px 20px;
    font-size: 20px;
    color: #383838;
}
.write-review textarea{
    height: 390px;
    padding: 10px 20px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #d1d1d1;
    border-top: 1px solid #d1d1d1;
    outline: none;
    font-style: italic;
    font-size: 16px;
    resize: none;
}
.write-review .firm-rate{
    padding: 10px 20px;
    font-size: 20px;
}
.firm-rate .rate-text{
    float: left;
}
.firm-rate .myStars{
    float: left;
}
.btn-sr{
    margin-top: 15px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    background: #4285f4;
    color: #FFF;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    border: 0;
}
.btn-sr:hover{background: #518ef3;}
.lang-drop, .lang-drop:hover{
    font-weight: bold;
    color: #FFF;
    border: none;
    background: none;
}
/* ---- /COMMENTS --- */
.my-alert-loc{
    /*display: none;*/
    position: absolute;
    width: 100%;
    z-index: 3;
}
/* --- Succes --- */
.succes, .fail{
    font-family: "PT Sans";
    margin-top: 15px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}
.succes .title, .fail .title{
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    background: #65B045;
    text-align: center;
    color: #FFF;
    font-size: 18px;
}
.fail .title{
    background: #F4B400;
}
.m-succes{
    padding: 15px 20px;
    padding-bottom: 0;
    background: #fff;
    text-align: center;
    font-size: 16px;
}
.m-succes p{margin: 0;}
.fail .m-succes a{text-decoration: underline;}
a.succes-back{
    display: block;
    text-align: center;
    font-size: 16px;
    margin-bottom: 25px;
}
a.succes-back:hover{text-decoration: none;}
a.succes-back span{
    font-size: 44px;
}
.fail{
    margin-bottom: 30px;
}
/* --- /Succes --- */
.btn-group.dropup{
    float: right;
    margin-top: 8px;
}
.has-error .form-control{
    background: url(../img/warning.png) no-repeat center right, #FBE9E7;
    background-position: right 10px center;
    border-color: red;
}
.com-hidden{
    display: none;
}
.ext-data-header img{
    margin-top: 30px;
    margin-bottom: 35px;
}
.ext-data-header .h-title{
    margin-bottom: 25px;
}
.ext-agree a{color: #3f8acd;}
.ext-agree a:hover{text-decoration: none; color: #3f8acd;}
.ext-step1{
    display: block;
}
.ext-step2 .h-title{
    margin-bottom: 15px;
}
.ext-step2 .modal-footer,.ext-step3 .modal-footer{
    padding: 0;
}
.ext-step2 .modal-body p, .ext-step3 .modal-body p{
    text-align: center;
    margin: 50px auto;
    font-size: 20px;
    font-family: 'Open Sans';
    color: #333333;
}
.ext-step3 .modal-body p span{
    font-size: 15px;
    font-weight: bold;
}
.ext-s2-btns{
    padding: 0;
    border-top: 1px solid #d2d2d2;
}
.ext-s2-btns div{
    height: 60px;
    line-height: 60px;
    padding: 0;
    cursor: pointer;
    background: #fff;
    color: #707070;
    font-family: 'PT Sans';
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}
.ext-s2-btns div:hover{
    background: #3f8acd;
    color: #fff;
}
.ext-s2-btns div span{
    padding-left: 30px;
    background: url('../img/ext-s2-btn.jpg') no-repeat left center;
}
.ext-step2 .center-block,.ext-step2 .modal-body{
    padding: 0;
}
.ext-step2 .modal-content{
    box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
}
.ext-s2-btn1{
    border-right: 1px solid #d2d2d2;
}
.ext-step3 .center-block{
}
.ext-step3 .ext-s3-btn{
    background: url('../img/s3-arrowleft-bg.jpg') no-repeat left 20px center, #3f8acd;
    height: 56px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-family: 'PT Sans';
    line-height: 56px;
}
.ext-step3 .ext-s3-btn:hover{
    text-decoration: none;
}

.header_left{
   line-height: 20px;
}

.header_left:before {
  content: "";
  display: inline-block;
  min-height: inherit;
  height: 100%;
  vertical-align: middle;
}

.header_left a{
vertical-align: middle;
  display: inline-block;
}